<div class="text-left">

    <div>
        <h1>Dados dos Professores</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Contato</th>
                <th scope="col">E-mail</th>
                <th scope="col">Disciplina</th>
                <th scope="col">CEP</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <th scope="row">1</th>
                <td>João</td>
                <td>43</td>
                <td>(47) 99825-4000</td>
                <td>joao@gmail.com</td>
                <td>FrontEnd</td>
                <td>88350-635</td>
                <td><button type="button" class="btn btn-primary">Endereço</button></td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Marcos</td>
                <td>55</td>
                <td>(47) 99785-2589</td>
                <td>marcos@gmail.com</td>
                <td>BackEnd</td>
                <td>88350-120</td>

                <td><button type="button" class="btn btn-primary">Endereço</button></td>
            </tr>


            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-primary">Adicionar Novo Professor</button>
</div>