@model AlunoModel


<form asp-controller="Alunos" asp-action="InserirAluno" method="post">


<div class="mb-3">

    <label for="nomealunos">Nome</label> <br />
    <input type="text" id="nomealunos" class="col-5" required> <br />

    <label for="idade">Idade</label> <br />
    <input type="text" id="idade" class="col-1" required> <br />

    <label for="telefone"> Contato</label> <br />
    <input type="tel" id="telefone" class="col-3" required placeholder="(00)0000-0000"> <br />

    <label for="telefone"> E-mail</label> <br />
    <input type="tel" id="telefone" class="col-3" required placeholder=""> <br />

    <label for="telefone"> CEP</label> <br />
    <input type="tel" id="telefone" class="col-3" required placeholder=""> <br />

    <div class="d-grid gap-2 d-md-block">

        <br />

        <button class="btn btn-primary justify-content-md-center" type="submit">Adicionar</button>
        <button class="btn btn-primary justify-content-md-center" type="button">Voltar</button>
    </div>

</div>

</form>