@model AlunoModel

<form asp-controller="Aluno" asp-action="InserirAluno" method="post">


    <div class="mb-3">
        <label for="name" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="col-md-6" />
    </div>

    <div class="mb-3">
        <label for="name" class="form-label">Idade</label>
        <input type="text" asp-for="Idade" class="col-md-1" />
    </div>

    <div class="mb-3">
        <label for="name" class="form-label">Contato</label>
        <input type="text" asp-for="Contato" class="col-md-4" required placeholder="(00)0000-0000">
    </div>

    <div class="mb-3">
        <label for="name" class="form-label">Email</label>
        <input type="text" asp-for="Email" class="col-md-4" />
    </div>

    <div class="mb-3">
        <label for="name" class="form-label">Cep</label>
        <input type="text" asp-for="Cep" class="col-md-4" />
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Adicionar</button>
        <button class="btn btn-primary" type="button">Voltar</button>

    </div>

</form>