@{
    ViewData["Title"] = "Apagar Alunos";
}

<div class="text-md-center">
    <h1>Apagar Aluno</h1>
</div>

<div class="text-center">
    <h3>Deseja realmente apagar os dados do aluno?</h3>
    <h3>Atenção! Os dados apagados serão excluídos permanentemente.</h3>
</div>
<br />
<a class="btn btn-danger btn-block" asp-controller="Alunos" asp-action="Apagar">Apagar Dados</a>
<a class="btn btn-secondary btn-block" asp-controller="Alunos" asp-action="Index">Voltar</a>